<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Carros.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1BA8686A25B8E9E700DA0E17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BA8688025B8E9E900DA0E17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BA8688B25B8E9E900DA0E17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
